* {
    /* outline: 1px solid #ddd; */
}

:root {
    --mc: #0b397c;
    --sc: #22d343;
    --wc: #ffffff;
    --bc: #000;
    --lc: #dddd;
}

.tit {
    display: flex;
    margin-bottom: 35px;
}

.tit h3 {
    font-size: 30px;
    font-weight: 500;
    margin: 0 0 0 10px;
    text-transform: uppercase;
}

.tit img {
    width: 20px;
}


.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    border-bottom: 1px solid rgba(255, 255, 255, .2);
    transition: .5s;
}

.header.on {
    background: var(--wc);
    height: 80px;
    border-bottom: 1px solid var(--lc);
}

.header:hover {
    background: var(--wc);
    border-bottom: 1px solid #ddd;

}


.header h1 a {
    display: inline-block;
    width: 40px;
    height: 60px;
    background: url(../images/h_logo.png)no-repeat center center/contain;
    filter: grayscale(100%) invert(100%) brightness(30);
}


.header.on h1 a {
    background: url(../images/h_logo.png)no-repeat center center/contain;
    width: 40px;
    height: 60px;
    filter: none;
}

.header:hover h1 a {
    filter: none;
}

.header .header_wrap {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header .gnb>ul {
    position: relative;
    display: flex;
    font-size: 16px;
    color: var(--wc);
    gap: 60px;
}


.header.on .gnb>ul {
    color: var(--bc);
}

.header:hover .gnb>ul {
    color: var(--bc);
}


.header .gnb>ul>li~li::before {
    position: absolute;
    top: 50%;
    left: -50%;
    transform: translate(-50%, -50%);
    content: "";
    width: 1px;
    height: 9px;
    background: rgba(255, 255, 255, .3);
}

.header.on .gnb>ul>li~li::before {
    background: rgba(0, 0, 0, .2);
}

.header:hover .gnb>ul>li~li::before {
    background: rgba(0, 0, 0, .2);
}




.header .side ul {
    display: flex;
    font-size: 16px;
    color: var(--wc);
    gap: 20px;
}

.header.on .side ul {
    color: var(--bc);
}

.header:hover .side ul {
    color: var(--bc);
}




/* 다단메뉴*/

.gnb .main_menu>li {
    position: relative;
    line-height: 120px;
}


.gnb .main_menu .sub_menu {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%, 0);
    /* width: calc(100% + 1200px);
    height: 80px; */

    text-align: center;
    white-space: nowrap;
    background: rgba(255, 255, 255, 8);
    padding: 15px 20px 20px 20px;

    display: none;
}

.gnb .main_menu>li:hover .sub_menu {
    display: block;
}

.gnb .main_menu .sub_menu>li a {
    display: block;
    color: #000;
}


.gnb .main_menu>li .sub_menu a:hover {
    color: var(--mc);

}


/* .gnb .main_menu .sub_menu li~li {
    border-top: 1px solid rgba(255, 255, 255, .1);
} */

.gnb .sub_menu a {
    display: block;
    color: #000;
    font-size: 15px;
    line-height: 40px;
}


.header .main_menu>li::after {
    content: "";
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, 0);
    /* 변하는 기준점 바꿔서 중앙으로 넓이 변화하기 */
    width: 0;
    height: 3px;
    background: var(--mc);
}

.header .main_menu>li:hover::after {
    width: 100%;
    transition: 0.5s;
}






/* 👀 */

.main_visual {}

.main_visual .main_slide {
    border-radius: 0 0 180px 0;
    overflow: hidden;
}

.main_visual .mbg {
    position: relative;
    height: 100vh;
}

.main_visual .mbg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .1);
}

.main_visual .mbg01 {
    background: url(../images/main_visual01.jpg)no-repeat center center/cover;
}

.main_visual .mbg02 {
    background: url(../images/main_visual02.jpg)no-repeat center center/cover;
}

.main_visual .mbg03 {
    background: url(../images/main_visual03.jpg)no-repeat center center/cover;
}

.main_slide .mbg_txt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 1200px;
    padding: 0 15px;
    font-size: 30px;
    color: var(--wc);
    text-shadow: 0 0 3px rgba(0, 0, 0, .6);
}

.main_slide .mbg_txt h3 {
    font-size: 70px;
    font-weight: 600;
    margin-bottom: 10px;
}

.main_slide .mbg_txt span {
    display: block;
}

.main_slide .mbg p {
    font-size: 30px;
    line-height: 1.25;

    transform: translate(-100px, 0);
    opacity: 0;
    transition: .8s .5s;
}

.main_slide .mbg.on p {
    opacity: 1;
    transform: translate(0, 0);
}

.main_slide .mbg_txt strong {
    font-weight: 500;
}

/* .main_visual .swiper-wrapper {
    transition-timing-function: cubic-bezier(0, 0.75, 0.01, -0.13);
} */


/* 화살표 */
.main_visual .arrows {
    position: absolute;
    display: flex;
    bottom: 50px;
    right: 8%;
    transform: translate(0, 0);
    z-index: 2;

    font-size: 26px;
    font-weight: 500;
    color: rgba(255, 255, 255, .7);
    text-transform: uppercase;
    justify-content: flex-end;
    cursor: pointer;
}

.main_visual .arrows .left {
    margin: 0 125px 0 0;
}


.main_visual .arrows .left:hover {
    color: var(--wc);
}

.main_visual .arrows .right {}

.main_visual .arrows .right:hover {
    color: var(--wc);
}

/* 도트 */
.main_visual .dots {
    position: absolute;
    bottom: 49px;
    right: 180px;
    z-index: 999;
    transform: translate(-50%, 0);

    display: flex;
    gap: 5px;
}


.main_visual .dots li span {
    font-size: 0;
}

.main_visual .dots li {
    position: relative;
    width: 30px;
    height: 30px;
    opacity: .7;
    cursor: pointer;
}

.main_visual .dots li::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    border: 1px solid #fff;
    border-radius: 50%;
    transition: 0.5s linear;
}


.main_visual .dots li:hover::before {
    width: 25px;
    height: 25px;
}

.main_visual .dots li.on::before {
    width: 25px;
    height: 25px;

}

.main_visual .dots li::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 8px;
    height: 8px;
    background: #fff;
    border-radius: 50%;
}


/* 스크롤 */
.main_visual .scroll {}

.main_visual .scroll span {
    position: absolute;
    bottom: 50px;
    left: 50px;
    transform: translate(-50%, 0);
    z-index: 2;

    writing-mode: vertical-rl;
    font-size: 14px;
    color: var(--lc);
    font-weight: 300;
    letter-spacing: 1px;
    padding-bottom: 80px;
    cursor: pointer;
}

.main_visual .scroll .line {
    content: "";
    position: absolute;
    bottom: 50px;
    left: 50px;
    transform: translate(-50%, 0);
    width: 1px;
    background: var(--lc);

    transform: translate(0, 0);
    transition: .8s;
}

.main_visual .scroll:hover .line {
    transform: translate(0, 15px);
}



.main_visual .scroll .line::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: -2px;

    width: 1px;
    height: 4px;
    background: var(--lc);
    transform: rotate(-45deg);
    transition: all 0.3s;
}

.main_visual .scroll .line::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: -2px;

    width: 1px;
    height: 4px;
    background: var(--lc);
    transform: rotate(45deg);
    transition: all 0.3s;
}


.main_visual .scroll .cicle::before {
    content: "";
    position: absolute;
    display: block;
    bottom: -8px;
    right: -11px;

    width: 21px;
    height: 21px;
    border-radius: 50%;
    border: 1px solid var(--lc);

    transform: translate(0, 0);
    transition: .5s;
}

.main_visual .scroll:hover .cicle::before {
    transform: translate(0, 15px);
}






/* 1 */

.main_company .company_wrap {
    opacity: 0;
    transform: translate(0, 0);
    transition: 2s;
}

.main_company.on .company_wrap {
    opacity: 1;
    transform: translate(0, 0);
}


.main_company .company_wrap {
    display: flex;
    margin-bottom: 50px;
}

.main_company .desc span {
    display: block;
    font-size: 60px;
    font-weight: 900;
}


.main_company .desc p {
    font-size: 18px;
    line-height: 1.4;
    margin: 10px 0 20px 0;
}

.main_company .desc p::before {
    content: "";
    display: block;
    margin: 30px 0;
    width: 70px;
    height: 2px;
    background: #0b397c;
}

.main_company .com_box {
    margin: 0 0 0 auto;
}

.main_company .com_box img {
    border-radius: 0px;
    width: 600px;
}


/* 오른쪽 디자인 */

/* .main_company .com_wrap {
    display: flex;
    flex-wrap: wrap;

}

.main_company .com_wrap>* {
    flex: 1 0 50%;
}

.sdf {
    transform: translate(-200px, 0);
} */



.main_company .com_content {
    opacity: 0;
    transform: translate(0, 0);
    transition: 2s;
}

.main_company.on .com_content {
    opacity: 1;
    transform: translate(0, 0);
}


.main_company .com_content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.main_company .co_txt {
    width: 552px;
    transform: translate(33px, 41px);

    padding: 43px 0 49px 82px;
    background-color: #f9f9f9;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 5px 5px 40px rgba(184, 184, 184, 0.1);
}

.main_company .co_txt .co_tit {
    position: relative;
    display: block;
    font-size: 25px;
    color: #262626;
    font-weight: 600;
    margin-bottom: 35px;
}

.main_company .co_txt .co_tit::after {
    content: "";
    position: absolute;
    bottom: -23px;
    left: -116px;
    width: 586px;

    height: 1px;
    background-color: #c4ccc5;
}


.main_company ul.co_list li {
    position: relative;
    font-size: 18px;
    color: #5c5c5c;
    padding-left: 15px;
    line-height: 35px;
}

.main_company ul.co_list li::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    width: 6px;
    height: 6px;
    background: var(--sc);
}

.main_company .co_txt {
    position: relative;
}


.main_company .co_txt .co_en {
    position: absolute;
    bottom: -9px;
    right: 0px;
    font-size: 55px;
    font-weight: 800;
    color: rgba(0, 0, 0, 0.06);
}


.main_company .img_box img {
    width: 600px;
}



.main_company .con_wrap02 .co_txt {
    transform: translate(0px, 41px);
}

.main_company .con_wrap02 .co_tit::after {
    left: -82px;
    width: 585px;
}


/* 2 */

.main_product {
    background: #f9f9f9;
}

.main_product .content_left {
    opacity: 0;
    transform: translate(0, 0);
    transition: 2s;
}

.main_product.on .content_left {
    opacity: 1;
    transform: translate(0, 0);
}


.main_product .content_right {
    opacity: 0;
    transform: translate(0, 50px);
    transition: 1s;
}

.main_product.on .content_right {
    opacity: 1;
    transform: translate(0, 0);
}


.main_product .product_wrap {
    display: flex;
    align-items: center;
    gap: 100px;
    /* inner 리뉴얼 */
    max-width: calc((100% - 1200px) / 2 + 1200px);
    margin: 0 0 0 auto;
    padding: 0 0 0 15px;
}

.content_left .desc span {
    display: block;
    font-size: 60px;
    font-weight: 900;
}


.content_left .desc p {
    font-size: 18px;
    line-height: 1.4;
    margin: 10px 0 20px 0;
}

.content_left .desc p::before {
    content: "";
    display: block;
    margin: 30px 0;
    width: 70px;
    height: 2px;
    background: #0b397c;
}


.main_product .content_left {
    margin: 0 -50px 0 0;
}

/* 🟢 */

.content_left .pro_btn {
    display: flex;
}

.content_left .pro_btn a {
    position: relative;
    display: inline-block;
    width: 144px;
    font-size: 13px;
    padding: 15px;
    margin-right: 10px;
    border: 1px solid #ddd;
    transition: all .5s ease;
}


.content_left .pro_btn a:hover {
    background: url(../images/btn_hover_bg.png) no-repeat center / cover;
    color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .20);
}


.content_left .pro_btn a:nth-child(1) {
    border-radius: 30px 0 0 30px;
}

.content_left .pro_btn a:nth-child(2) {
    border-radius: 0 30px 30px 0;
}

.content_left .pro_btn a i {
    content: "";
    position: absolute;
    top: 50%;
    right: -10px;
    transform: translate(-50%, -50%) scale(.5);

    font-size: 0;
    width: 34px;
    height: 34px;
    background: #22d343;
    border-radius: 50%;
    transition: all .3s ease;
}


.content_left .pro_btn a:hover i {
    transform: translate(-50%, -50%) scale(0.7) rotate(180deg);
}

.content_left .pro_btn a i::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 14px;
    height: 1px;
    background: #fff;
    opacity: 0;
    transition: all .3s ease;
}

.content_left .pro_btn a i::before {
    opacity: 1;
}

.content_left .pro_btn a i::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 1px;
    height: 14px;
    background: #fff;
    opacity: 0;
    transition: all .3s ease;
}

.content_left .pro_btn a i::after {
    opacity: 1;
}




/* 오른쪽 디자인 */

.main_product .content_right {
    position: relative;
    min-width: 0;
}


.main_product .content_right .itm {
    position: relative;

}


.main_product .content_right .txt strong {
    position: absolute;
    display: block;
    bottom: 30px;
    left: 20px;
    z-index: 999;


    font-size: 25px;
    font-weight: 700;
    color: var(--wc);
}

.main_product .content_right .detail img {
    border-radius: 20px;
    filter: grayscale(100%);
}

.main_product .content_right .detail.on img {
    border-radius: 20px;
    filter: grayscale(0);
}

.main_product .content_right .detail:hover img {
    border-radius: 20px;
    filter: grayscale(0);
}


.content_right .itm_slide .detail:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: linear-gradient(360deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    opacity: 0;
    transition: all .3s ease;
}


.content_right .pro_arrows {
    position: absolute;
    top: -50px;
    right: 351px;
    transform: translate(0, 0);
    z-index: 2;

    font-size: 25px;
    font-weight: 500;
    color: #949494;
    text-transform: uppercase;
    transition: all .3s ease;
    cursor: pointer;
}

.content_right .pro_arrows .left {
    margin: 0 10px 0 0;
}


.content_right .pro_arrows .left:hover {
    color: #333;
}

.content_right .pro_arrows .right {
    margin: 0 0 0 9px;
}

.content_right .pro_arrows .right:hover {
    color: #333;
}


/* 🟢 */
.content_right .swiper-slide i {
    content: "";
    position: absolute;
    top: 15px;
    right: 45px;
    width: 34px;
    height: 34px;
    z-index: 999;

    font-size: 0;
    background: #22d343;
    border-radius: 50%;
    transform: scale(.5);
    transition: all .3s ease;
}

.content_right .swiper-slide:hover i {
    transform: translate(0, 0) scale(0.8) rotate(180deg);
}

.content_right .swiper-slide i::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 14px;
    height: 1px;

    background: #fff;
    opacity: 0;
    transition: all .3s ease;
}

.content_right .swiper-slide:hover i::before {
    opacity: 1;
}

.content_right .swiper-slide i::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1px;
    height: 14px;

    background: #fff;
    opacity: 0;
    transition: all .3s ease;
}

.content_right .swiper-slide:hover i::after {
    opacity: 1;
}






/* 3 */
/* 💥이미지통일하게 */

.main_tech {}


.main_tech .tech_wrap {
    opacity: 0;
    transform: translate(0, 50px);
    transition: 1s;
}

.main_tech.on .tech_wrap {
    opacity: 1;
    transform: translate(0, 0);
}

/* 탭메뉴 */

.main_tech .tab_link {
    display: flex;
    width: 600px;
    margin: 0 0 50px 0;
    text-align: center;
    color: var(--bc);
    gap: 10px;
}

.main_tech .tab_link>li {
    flex: 1;
    width: 150px;
    border-bottom: 1px solid var(--mc);
    border-radius: 10px 10px 0 0;
}

.main_tech .tab_link>li.on {
    background: var(--mc);
    color: var(--wc);
}

.main_tech .tab_link a {
    display: block;
    padding: 15px 30px;
}


.main_tech .con {
    position: relative;
    overflow: hidden;
    visibility: hidden;
    height: 0;
}

.main_tech .con.on {
    visibility: visible;
    height: auto;
}

.main_tech .con p {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 40px;
}

.main_tech .con_box {
    display: flex;
}

.main_tech .con_txt strong {
    display: block;
    font-size: 20px;
    line-height: 2;
    border-bottom: 1px solid var(--lc);
    margin-bottom: 10px;
}

.main_tech .con_txt {
    position: relative;
    width: 900px;
    height: 260px
}

.main_tech .con_txt ul>li {
    position: relative;
    font-size: 18px;
    font-weight: 300;
    margin: 0 0 0 15px;
    line-height: 2;
}

.main_tech .con_txt ul>li::before {
    content: "";
    position: absolute;
    top: 40%;
    right: 872px;
    transform: translate(0, 0);

    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: var(--sc);
}

.main_tech .con_box figure {
    width: 300px;
    margin: 0 0 0 auto;
}





/* 4 */

.main_newtech {
    position: relative;
}

/* .main_newtech .newtech_wrap {
    opacity: 0;
    transform: translate(0, 0);
    transition: 1s;
}

.main_newtech.on .newtech_wrap {
    opacity: 1;
    transform: translate(0, 0);
} */

.main_newtech {
    background: url(../images/bottom_bg.png)no-repeat center center / cover;
    height: 300px;
}

.main_newtech .newtech_slogan {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1170px;
}

.main_newtech .newtech_slogan strong {
    font-size: 25px;
    font-weight: 500;
    color: rgba(255, 255, 255, .5);
}

.main_newtech .newtech_slogan h3 {
    font-size: 50px;
    font-weight: 600;
    color: var(--wc);
    margin-bottom: 10px;
}

.main_newtech .newtech_slogan span {
    display: block;
    color: var(--wc);
    line-height: 1.2;
}

.main_newtech .newtech_slogan p {
    font-size: 16px;
    font-weight: 300;
    color: rgba(255, 255, 255, .8);
}

.main_newtech .newtech_slogan p::before {
    content: "";
    position: absolute;
    top: 85%;
    left: 296px;
    transform: translate(-50%, -50%);
    width: 593px;
    height: 1px;
    background: rgba(255, 255, 255, .4);
}

.main_newtech .new_btn a {
    position: absolute;
    bottom: 46px;
    right: 296px;
    transform: translate(-50%, -50%);

    width: 140px;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    background: rgba(255, 255, 255, .1);
    text-align: center;
    padding: 15px 30px;
    border: 1px solid rgba(255, 255, 255, .3);
    border-radius: 30px;

    transition: all .5s ease;
}

.main_newtech .new_btn a:hover {
    background: url(../images/btn_hover_bg.png);
}




/* END */
.footer {
    background: var(--wc);
}


.footer .f_con {
    display: flex;
    justify-content: space-between;
    padding: 30px 15px;
}

.footer .f_con>ul {
    display: flex;
}

.footer .f_con>ul>li~li::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 8px;
    background: #ddd;
    margin: 0 20px;
}

.footer .ft {
    border-bottom: 1px solid #ddd;
}

.footer .ft ul>li {
    color: #666;
    font-weight: 500;
}

.footer .f_menu>li:hover {
    color: #000;
}

.footer .ft strong {
    color: var(--mc);
    font-weight: 600;
}

.footer .fb_left span {
    display: inline-block;
    margin-right: 20px;
    line-height: 1.5;
}

.footer .fb_left ul li:last-child {
    font-size: 14px;
    color: #bbb;
}

.footer .fb_right img {
    width: 300px;
}





/* up */
.to_top {
    display: none;
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 999;
}

.to_top i {
    color: var(--mc);
    font-size: 20px;
    background: #fff;
    border-radius: 50%;
    border: 1px solid #d3d3d3;
    padding: 15px;
    cursor: pointer;
}

.to_top:hover i {
    color: #fff;
    background: var(--mc);
}

.to_top.on {
    display: block;
}